* {
	font-family: "Courier New", monospace;

	/*CSS Reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	padding: 16px;
	margin-bottom: 12px;
	background: #4059AD;
}

.nav-link {
	margin-left: 4px;
	margin-right: 4px;
	color: white;
}

a {
	text-decoration: none;
}

#landing {
	text-align: center;
}

#profile {
	height: 300px;
	width: 300px;
	margin-bottom: 4px;
	margin-top: 4px;
}

#name {
	margin-bottom: 4px;
	margin-top: 4px;
}

#title {
	margin-top: 4px;
	margin-bottom: 4px;
}

#intro {
	width: 200px;
	margin: auto;
}

#tools {
	text-align: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

#tools-title {
	margin-bottom: 4px;
}

.tools-img {
	height: 100px;
	width: 100px;
	margin-left: 4px;
	margin-right: 4px;
}

#projects {
	text-align: center;
	color: white;
}

.card {
	background: #6B9AC4;
	height: 400px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.card-img {
	height: 300px;
	width: 300px;
}

#contact {
	text-align: center;
	padding: 16px;
	margin-top: 16px;
	background: #4059AD;
}

.footer-link {
	color: white;
}