/*
CSS Rules

selector {
	property: value;
	property: value;
}
*/

/*Universal Selector*/
* {
	font-family: "Courier New", monospace;

	/*CSS Reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Type Selector*/
h1	{
	font-family: "Tahoma", sans-serif;
}

section {
	text-align: center;
}

body {
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;
}

/*Class Selector
	To use a class selector, add a period before the class name
	
	Default font size of a page is 16px
*/

.nav-link {
	font-size: 18px;
}

.title {
/*	color: green;*/
	margin-top: 10px;
	margin-bottom: 10px;
}

.module-card {
	height: 350px;
	width: 800px;
	padding: 20px;
	border: 1px solid black;
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	border-radius: 10px;
}

.module-image {
	height: 200px;
	width: 200px;
}

#modules {
	margin-top: 30px;
	margin-bottom: 30px;
}

#moduleHeader {
	margin-top: 30px;
}

/*
	Without border-box
	Border and padding are added on top of the width/height
	
	1px left border + 50px left padding + 150 px width + 50px rigth padding + 1px right border = 252 px


	With border-box
	Border and padding is included in the total width

	1px left border + 50px left padding + 150 px width + 50px rigth padding + 1px right border = 150 px

*/

/*ID Selector
	- To use an ID selector, add a hash or pound sign before the name of the target class.
	
	#idName {}
*/

#hello {
	color: black;
	font-size: 2rem;
	/*rem = root element measurement*/
}

#logo {
	height: 300px;
	width: 300px;
	border-radius: 150px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

a {
	text-decoration: none;
}

nav {
	background-color:  white;
	text-align: center;
	padding: 15px;
	/*padding is a property that allows us to add space between elements*/
}
